{% extends "Base.html" %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center">Appointments by Location</h2>
            <div class="card mt-5">
                <div class="card-body table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Location</th>
                                <th scope="col">Number of Appointments</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if appointment_data %}
                                {% for appointment in appointment_data %}
                                <tr>
                                    <td>{{ appointment.location }}</td>
                                    <td>{{ appointment.count }}</td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="2" class="text-center">No data available</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
